@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(6, 7, 124);
  --background: linear-gradient(0deg, rgba(6,7,124,1) 0%, rgba(10,10,223,1) 18%, rgba(255,255,255,1) 100%);
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
